@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {font-size:20px;}
body {font-size:0.8rem;}
#wrap {min-width:95rem;}


/* logo */
.left_logo {position:fixed;top:0;left:0;width:100px;text-align:right;padding-top:100px;}
.bar {border-right:10px solid #333;height:calc(100vh - 150px);margin-top:-10px;}
.left_logo h1>a {width:100%;height:100%;position: absolute;overflow: hidden;text-indent: -999px;font-size: 1px;z-index: 1;}

/* main-header */
.main_right {margin-left:100px;padding:0 50px;}

#hd {display:flex;justify-content:space-between;line-height:100px;height:105px;border-bottom:5px solid #333333;margin-bottom:100px;}
/* gnb */
#hd .gnb-menu {display:flex;}
#hd .gnb-menu>li>a {display:block;padding:0 20px;}
#hd .gnb-menu>li>a:hover {border-bottom:5px solid #f00;}
#hd .gnb-submenu {display:none;}



/* main_visual */
#main_visual {position:relative;}
#main_visual figure {height:600px;}
#main_visual .m01 {background:url(../img/BNR_202001090649241010.jpg) no-repeat center center/cover;}
#main_visual .m02 {background:url(../img/BNR_202003020204251510.jpg) no-repeat center center/cover;}
#main_visual .container {position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);width:1200px;padding:0 15px;color:#fff;text-align:center;z-index:999;}
#main_visual h2 {font-size:60px;font-weight:500;line-height:2.6;}
#main_visual p {font-size:30px;font-weight:300;margin-bottom:8rem;}


/* board;section01 */
#board {background:#ffff;}
#board .sbar {border:5px solid #333;margin-top:15px;}
#board .container {display:flex;width:100%;}
#board .container .left {flex:5;}
#board .container .right {flex:5;}
#board .news_title {height:6.2rem;}

/* board_left */
#board .left  {padding:4rem 2rem 4rem 0;position:relative;overflow:hidden;cursor:pointer;}
#board .left li:hover  {background:rgb(243, 240, 240);background-blend-mode:soft-light;}
#board .left  h3 {font-family: 'Montserrat', sans-serif;font-size:2rem;font-weight:700;}
#board .left h3>i {float:left;font-size:0.75rem;font-weight:300;border:1px solid var(--dd);height:1.6rem;border-radius:0.8rem;line-height:1.5rem;padding:0 2rem;}
#board .left h3 a {display:block;float:right;font-size:0.75rem;font-weight:300;border:1px solid var(--dd);height:1.6rem;border-radius:0.8rem;line-height:1.5rem;padding:0 2rem;}
/* li안에 박스를 만들고 패딩으로 처리해야한다. */
.Newsroom {display:grid;grid-template-columns:1fr 1fr;gap:5px;}
#board .left li  {border:1px solid #888;margin-top:5%;padding:1rem;}
#board .left dt {position:relative;line-height:3.2rem;font-size:28px;}
#board .left strong {border:1px solid #dc143c ;color:#fff;background:#dc143c ;display:inline-block;width:30px;height:30px;text-align:center;line-height:1.5rem;font-size:1rem;}
/* 날짜들 일정하게 배열하기 */
#board .left dl .news_date {margin-top:30px;color:#666;}



/* board_right */
#board .right {padding:4rem 0 4rem 2rem;}
#board .right h3 {font-family: 'Montserrat', sans-serif;font-size:2rem;font-weight:700;}
#board .right h3 a {display:block;float:right;font-size:0.75rem;font-weight:300;border:1px solid var(--dd);height:1.6rem;border-radius:0.8rem;line-height:1.5rem;padding:0 2rem;}
#board .right strong {display:inline-block;width:80px;text-align:center;line-height:1.3;border:1px solid #dc143c;color:#dc143c;font-weight:500;margin-right:0.8rem;}
#board .right .list li {border-bottom:1px solid #888;padding:0.2rem;cursor:pointer;}
#board .right .list li:hover {color:#dc143c;text-decoration:underline;}
#board .right .list li a {display:block;line-height:3.3rem;}
#board .right .list li span {float:right;color:#777;padding-right:2rem;}


/*magazine;section02  */

.magazineWrap {display:flex;}
.magazineWrap>div {padding:0 10px;width:80%;}

.magazineWrap figure {cursor:pointer;}
.magazineWrap .box01 {display:flex;text-align:center;padding:0 10px;}
 .m_box {background:#344e71;color:#fff;width:50%;text-align:center;} 
.magazineWrap .title {font-size:20px;line-height:27px;padding:5px 0;font-family: 'Montserrat', sans-serif;font-weight:bold;}
.magazineWrap .vol {padding:5px 10px 0;}
.magazineWrap .ma_name {font-size: 15px;font-weight:200;}


.magazineWrap .n_box {background:#4261a1;color:#fff;width:50%;text-align:center;}
.magazineWrap .n_box .title{font-size:20px;line-height:27px;padding:5px 0;font-family: 'Montserrat', sans-serif;font-weight:bold;}
.magazineWrap .n_box .vol {padding:5px 10px 0;}
.magazineWrap .n_box .n_name {font-size: 15px;}

.magazineWrap .box02 {background:#42a145;color:#fff;text-align:center;}
.magazineWrap .box02 .title{font-size:20px;line-height:27px;padding:10px 0;font-family: 'Montserrat', sans-serif;font-weight:bold;}
.magazineWrap .box02 img {max-width:80%;font-weight:200;}


.box03 {color:#fff;text-align:center;}


/* footer */
#footer { clear:both;padding:4rem 0 4rem 8rem;}
#footer .foot_top {text-align: center;  display: block;}
#footer .foot_top a {color:#b4b4b4; font-size: 28px; padding:20px; display: inline-block; transition: all 0.3s ease; font-family:'HelveticaNeue-Bold';}
#footer .foot_top a i {margin-left: 10px; vertical-align: middle; transition: all 0.3s ease;background-position: -13px -18px; opacity: 0.3;}
#footer .foot_top a:hover {color:#e60039;}
#footer .foot_top a:hover i{opacity: 1; background-position: -39px -18px;}
#footer .fnb {background: #000;}
#footer .fnb ul > li.quick_menu {background:#333333;} 
#footer .fnb ul li {float: left; width: auto; position: relative; padding: 0 2vw}

#footer .fnb > ul > li:after {position: absolute; content: ''; width: 5px; height:5px; top:50%; bottom:0; right: -3px; margin-top:-3px; background: #6c6c6c}
#footer .fnb ul li:last-child {width: 16%; float: right;}
#footer .fnb ul li:nth-last-child(2):after { height:0; width:0; background:none;}
#footer .fnb ul li:last-child:after {display: none; height:0; width:0;}
#footer .fnb ul li a {color: #fff; padding:25px 0; 
	text-align: center; display: block; font-size:18px;font-weight:200;}
#footer .fnb ul li a:hover, #footer .fnb ul li a:focus {color:#e60039;}

#footer .fnb ul li a.impo {color:#e60039; text-align: center; display: block; font-weight:200;}
#footer .fnb ul li a.impo:hover, #footer .fnb ul li a.impo:focus {text-decoration: underline;}


#footer .footer_info {margin-top:40px; position: relative;}
#footer .footer_info:after {content:''; display:block; clear:both;}


#footer .footer_bar {border-top:10px solid #000000; padding:60px 0 40px;}
#footer .footer_info .f_logo, #footer .footer_info .fif01 {
	float:left; font-size:16px; line-height:1.6;}
#footer .footer_info .f_logo{ margin-bottom:40px; }
#footer .footer_info .f_logo span {display:inline-block;  vertical-align:middle;}
#footer .footer_info .f_logo .footer_logo {
    overflow: hidden;
    text-indent: -9999px;
    color: #fff; font-size: 1px;
	max-width:271px; width:100%; height:55px; 
	background:url('/pf07/img/logo_foot.png') 0 0 no-repeat; 
	background-size:100% auto; 
	}
/* #footer .footer_info .f_logo .footer_mark{
	position: absolute; top: 0; right: 0;
	max-width:167px; width:100%; height:58px; 
	width:100%; height:60px;
	font-size: 0;
	background:url('/pf07/img/mark.jpg') 0 0 no-repeat; 
	background-size:100% auto; 
} */
#footer .footer_info .f_logo a:nth-child(2){
	position: absolute; top: 0; right: 0;
	max-width:90px; width:100%; height:60px;  
}
#footer .footer_info .f_logo {width:20%; min-width: 360px;}
#footer .footer_info .fif_box {width:80%; max-width: 1080px; float:left;}
#footer .footer_info .fif_box:after {content:''; display:block; clear:both;}
#footer .footer_info .fif01 {width:55%; display:table;}
#footer .footer_info .fif01:nth-child(2) {width:45%; display:table;}
#footer .footer_info .fif01 > div {display:table-cell;}
#footer .footer_info .f_logo .copyright {color:#999; padding-top:25px; font-family:'HelveticaNeue-Light';}
#footer .footer_info .fif01 {margin-bottom:20px;}
#footer .footer_info .fif01 .fif_tit {font-weight:bold; width:20%;}
#footer .footer_info .fif01 .fif_txt {text-align:left;}
#footer .footer_info .fif01 .fif_txt span.tel > strong {margin:0 5px; font-weight:bold;}
#footer .footer_info .fif01 .fif_txt img {vertical-align:middle; margin-right:8px;}
#footer .footer_info .fif_con { margin-top:20px; width:100%;clear:both;}
#footer .footer_info .fif_con .fif_txt {margin-bottom:15px;}
#footer .footer_info .fif_con .fif_txt:last-child {margin-bottom:0px;}
#footer .footer_info .fif_con .copyright {color:#999;}













